<h1>
  List of all ingredients
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new ingredient
    </h2>
  </header>

  <%= form_with url: ingredients_path, scope: :ingredient do |f| %>
    <div>
      <%= f.label :recipe_id, "Recipe" %>
      <%= f.number_field :recipe_id %>
    </div>

    <div>
      <%= f.label :unit, "Unit" %>
      <%= f.text_field :unit %>
    </div>

    <div>
      <%= f.label :amount, "Amount" %>
      <%= f.text_field :amount %>
    </div>

    <div>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>

    <%= f.submit "Create ingredient" %>
  <% end %>
</article>

<hr>

<article>
  <ul>
    <% @list_of_ingredients.each do |an_ingredient| %>
      <li>
        <%= link_to "Ingredient ##{an_ingredient.id}", ingredient_path(an_ingredient) %>
      </li>
    <% end %>
  </ul>
</article>

<hr>
