<h1>
  Ingredient #<%= @the_ingredient.id %> details
</h1>

<article>
  <div>
    <%= link_to "Go back", ingredients_path %>
  </div>

  <div>
    <%= button_to "Delete ingredient", ingredient_path(@the_ingredient), method: :delete, data: { turbo_confirm: "Delete this ingredient?" } %>
  </div>
  <dl>
    <dt>
      Recipe
    </dt>
    <dd>
      <%= @the_ingredient.recipe_id %>
    </dd>

    <dt>
      Unit
    </dt>
    <dd>
      <%= @the_ingredient.unit %>
    </dd>

    <dt>
      Amount
    </dt>
    <dd>
      <%= @the_ingredient.amount %>
    </dd>

    <dt>
      Name
    </dt>
    <dd>
      <%= @the_ingredient.name %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_ingredient.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_ingredient.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit ingredient
    </h2>
  </header>

  <%= form_with model: @the_ingredient, url: ingredient_path(@the_ingredient), method: :patch do |f| %>
    <div class="mb-3">
      <%= f.label :recipe_id, "Recipe", class: "form-label" %>
      <%= f.number_field :recipe_id, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :unit, "Unit", class: "form-label" %>
      <%= f.text_field :unit, class: "form-control", required: true, maxlength: 255 %>
    </div>

    <div class="mb-3">
      <%= f.label :amount, "Amount", class: "form-label" %>
      <%= f.text_field :amount, class: "form-control", required: true, maxlength: 255 %>
    </div>

    <div class="mb-3">
      <%= f.label :name, "Name", class: "form-label" %>
      <%= f.text_field :name, class: "form-control", required: true, maxlength: 255 %>
    </div>

    <%= f.submit "Update ingredient", class: "btn btn-primary" %>
  <% end %>
</article>

<hr>
