<h1>
  Ingredient #<%= @the_ingredient.id %> details
</h1>

<article>
  <div>
    <%= link_to "Go back", ingredients_path %>
  </div>

  <div>
    <%= button_to "Delete ingredient", ingredient_path(@the_ingredient), method: :delete, data: { turbo_confirm: "Delete this ingredient?" } %>
  </div>
  <dl>
    <dt>
      Recipe
    </dt>
    <dd>
      <%= @the_ingredient.recipe_id %>
    </dd>

    <dt>
      Unit
    </dt>
    <dd>
      <%= @the_ingredient.unit %>
    </dd>

    <dt>
      Amount
    </dt>
    <dd>
      <%= @the_ingredient.amount %>
    </dd>

    <dt>
      Name
    </dt>
    <dd>
      <%= @the_ingredient.name %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_ingredient.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_ingredient.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit ingredient
    </h2>
  </header>

  <%= form_with model: @the_ingredient, url: ingredient_path(@the_ingredient), method: :patch do |f| %>
    <div>
      <%= f.label :recipe_id, "Recipe" %>
      <%= f.number_field :recipe_id %>
    </div>

    <div>
      <%= f.label :unit, "Unit" %>
      <%= f.text_field :unit %>
    </div>

    <div>
      <%= f.label :amount, "Amount" %>
      <%= f.text_field :amount %>
    </div>

    <div>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>

    <%= f.submit "Update ingredient" %>
  <% end %>
</article>

<hr>
