<h1>
  Recipe #<%= @the_recipe.id %> details
</h1>

<article>
  <div>
    <a href="/recipes">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_recipe/<%= @the_recipe.id %>">
      Delete recipe
    </a>
  </div>

  <!-- Display recipe image -->
  <% if @the_recipe.original_image.attached? %>
    <%= image_tag @the_recipe.original_image %>
  <% end %>

  <h1><%= @the_recipe.title %></h1>

  <dl>
    <dt>
      Title
    </dt>
    <dd>
      <%= @the_recipe.title %>
    </dd>

    <dt>
      Author
    </dt>
    <dd>
      <%# TODO: add author name instead of email  %>
      <%= @the_recipe.author.email %>
    </dd>

    <dt>
      Source url
    </dt>
    <dd>
      <%= @the_recipe.source_url %>
    </dd>
  </dl>
</article>

<h2>Ingredients</h2>
<ul class="list-group list-group-flush">
  <% @the_recipe.recipe_ingredients.each do |ingredient| %>
    <li class="list-group-item"><%= ingredient.name %></li>
  <% end %>
</ul>

<h2>Steps</h2>
<ol class="list-group list-group-numbered">
  <% @the_recipe.steps.each do |step| %>
    <li class="list-group-item"><%= step.instruction %></li>
  <% end %>
</ol>

<hr>

<article>
  <header>
    <h2>
      Edit recipe
    </h2>
  </header>

  <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
    <div>
      <label for="title_box">
        Title
      </label>

      <input type="text" id="title_box" name="query_title" value="<%= @the_recipe.title %>">
    </div>

    <div>
      <label for="author_id_box">
        Author
      </label>

      <input type="text" id="author_id_box" name="query_author_id" value="<%= @the_recipe.author_id %>">
    </div>

    <div>
      <label for="source_url_box">
        Source url
      </label>

      <input type="text" id="source_url_box" name="query_source_url" value="<%= @the_recipe.source_url %>">
    </div>

    <button type="submit">
      Update recipe
    </button>
  </form>
</article>

<hr>
