<h1>
  List of All Steps
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a New Step
    </h2>
  </header>

  <%= form_with url: steps_path, scope: :step do |f| %>
    <div>
      <%= f.label :recipe_id, "Recipe" %>
      <%= f.number_field :recipe_id %>
    </div>

    <div>
      <%= f.label :position, "Position" %>
      <%= f.text_field :position %>
    </div>

    <div>
      <%= f.label :instruction, "Instruction" %>
      <%= f.text_field :instruction %>
    </div>

    <%= f.submit "Create step" %>
  <% end %>
</article>

<hr>

<article>
  <ul>
    <% @list_of_steps.each do |a_step| %>
      <li>
        <%= link_to "Step ##{a_step.id}", step_path(a_step) %>
      </li>
    <% end %>
  </ul>
</article>

<hr>
