<h1>
  Step #<%= @the_step.id %> details
</h1>

<article>
  <div>
    <%= link_to "Go back", steps_path %>
  </div>

  <div>
    <%= button_to "Delete step", step_path(@the_step), method: :delete, data: { turbo_confirm: "Delete this step?" } %>
  </div>
  <dl>
    <dt>
      Recipe
    </dt>
    <dd>
      <%= @the_step.recipe_id %>
    </dd>

    <dt>
      Position
    </dt>
    <dd>
      <%= @the_step.position %>
    </dd>

    <dt>
      Instruction
    </dt>
    <dd>
      <%= @the_step.instruction %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_step.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_step.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit step
    </h2>
  </header>

  <%= form_with model: @the_step, url: step_path(@the_step), method: :patch do |f| %>
    <div>
      <%= f.label :recipe_id, "Recipe" %>
      <%= f.number_field :recipe_id %>
    </div>

    <div>
      <%= f.label :position, "Position" %>
      <%= f.text_field :position %>
    </div>

    <div>
      <%= f.label :instruction, "Instruction" %>
      <%= f.text_field :instruction %>
    </div>

    <%= f.submit "Update step" %>
  <% end %>
</article>

<hr>
